img {
    max-width: min(90vw, 900px);
    max-height: 90vw;
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
}

#info {
    width: auto;
    background-color: burlywood;
}